
#header{
    background-image: linear-gradient(to right, #1536b8, #80ca63);
}
#items:hover{
    border-top: solid white;
  }
  #nav{
    background-image: linear-gradient(90deg, #031FC6 0%, #8BDA5A 101.79%);
}
#segunda{
    background-color: #1D42B1;
}
#tercera{
    background-color: #88D65C;
}
#btn{
    background-color: #88D65C;    
}
#btn-form{
    background-color: #1D42B1;  
}